input[type=number]:focus {
    background-color: rgb(235, 249, 254);
}

input[type=number]{
    width: 100%;
}

input[type=file] {
    margin: 0;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: solid;
    padding-bottom: 3%;

    h1 {
        text-decoration: underline;
    }
}

.wordcount {
    color:rgba(149, 3, 3, 0.863);
}

.numInput{
    margin-top: 2%;
     padding-left: 5%;
     padding-right: 5%; 
}